body {
    background: azure;
    margin: 2em;
}

.section {
    background: white;
    box-sizing: border-box;
    padding: 2em;
}

.section.activo {
    background: khaki;
}

.section {
    border-radius: 3em 3em 0 0;
}

.section {
    border-top: 1px solid gainsboro;
}

